<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css" type="text/css" >
     <title> Web-Server </title>
    </head>
    <body>
        <div class="main-content">
           {{>header}}

            <img class="portrait" src="/images/article.jpg">
        </div>    
            {{>footer}}
    </body>    
</html>